.invoice-form h1 {
  margin-top: 24px;
}

.invoice-form h1,
.invoice-form h2,
.invoice-form h3,
.invoice-form h4 {
  margin-bottom: 24px;
}

.invoice-form h2 {
  color: var(--light-grey);
}

.invoice-form h3,
.invoice-form h4 {
  color: var(--primary);
}

.bill-from {
  margin-bottom: 40px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "street street"
    "city postal"
    "country country";
}

.sender-street {
  grid-area: street;
}

.sender-city {
  grid-area: city;
}

.sender-postal {
  grid-area: postal;
}

.sender-country {
  grid-area: country;
}

@media (min-width: 768px) {
  .bill-from {
    margin-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "street street street"
      "city postal country";
  }
}

.bill-to {
  margin-bottom: 66px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "client-name client-name"
    "client-email client-email"
    "client-street client-street"
    "client-city client-postal"
    "client-country client-country"
    "invoice-date invoice-date"
    "payment-terms payment-terms"
    "project-description project-description";
}

.client-name {
  grid-area: client-name;
}

.client-email {
  grid-area: client-email;
}

.client-street {
  grid-area: client-street;
}

.client-city {
  grid-area: client-city;
}

.client-postal {
  grid-area: client-postal;
}

.client-country {
  grid-area: client-country;
}

.invoice-date {
  grid-area: invoice-date;
}

.payment-terms {
  grid-area: payment-terms;
}

.project-description {
  grid-area: project-description;
}

@media (min-width: 768px) {
  .bill-to {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "client-name client-name client-name"
      "client-email client-email client-email"
      "client-street client-street client-street"
      "client-city client-postal client-country"
      "invoice-date invoice-date payment-terms"
      "project-description project-description project-description";
  }
}

.bill-item {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(3, 1fr) 60px;
  grid-template-areas:
    "item-name item-name item-name item-name"
    "item-qty item-price item-total item-delete";
}

.bill-item__button {
  margin-bottom: 90px;
}

.bill-item__button button {
  width: 100%;
}

.item-name {
  grid-area: item-name;
}

.item-qty {
  grid-area: item-qty;
}

.item-price {
  grid-area: item-price;
}

.item-total {
  grid-area: item-total;
  pointer-events: none;
}

.item-total .form__input {
  opacity: 0.5;
  border: 1px solid transparent;
}

[data-mode="dark"] .item-total .form__input {
  opacity: 0.5;
  border: 1px solid transparent;
}

.item-delete {
  grid-area: item-delete;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-delete .btn-icon {
  background-color: transparent;
  padding: 8px;
}

.item-delete .btn-icon:hover {
  background-color: transparent;
}

.item-delete .btn-icon > div {
  background-color: transparent;
  margin-right: 0px;
}

.item-delete .btn-icon > div > img {
  height: 18px;
  width: 16px;
}

.bill-total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--light-grey);
}

.bill-total h5 {
  margin-bottom: 27px;
}

.bill-total span {
  font-weight: bold;
}

.bill-total .btn {
  justify-self: end;
  background: none;
  width: 30px;
  height: 30px;
  align-self: center;
  align-items: center;
  margin-bottom: 11px;
  color: var(--light-grey);
  flex: 1;
}

.bill-total .btn-icon {
  padding: 8px;
}

.bill-total .btn > div {
  margin-right: 0;
  align-self: center;
  padding: 0;
  background: none;
}

.bill-total .btn > div > img {
  height: 15px;
  width: 15px;
}

@media (min-width: 768px) {
  .bill-item {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "item-name item-name item-qty item-price item-total item-delete";
  }
}
