@import '../../app.global.scss';

.bill-total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $light-grey;

  h5 {
    margin-bottom: 27px;
  }

  span {
    font-weight: bold;
  }

  .btn {
    justify-self: end;
    background: none;
    width: 30px;
    height: 30px;
    align-self: center;
    align-items: center;
    margin-bottom: 11px;
    color: $light-grey;
  }

  .btn-icon {
    padding: 8px;
  }

  .btn > div {
    margin-right: 0;
    align-self: center;
    padding: 0;
  }

  .btn > div > img {
    height: 15px;
    width: 15px;
  }
}
