$active-border: #9277ff;

.form__select {
  display: flex;
  width: 100%;
  border-radius: 4px;
  padding: 15px 20px;
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:active {
    border: 1px solid $active-border !important;
  }

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid $active-border !important;
  }
}

.span-with-icon {
  display: inline-block;
  position: absolute;
  top: 41px;
  right: 22px;
}
