$active-border: #9277ff;

.form__select {
  display: flex;
  width: 100%;
  border-radius: 4px;
  padding: 15px 20px;
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
  // A reset of styles, including removing the default dropdown arrow
  // appearance: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;

  &:active {
    border: 1px solid $active-border !important;
  }

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid $active-border !important;
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-bottom: black;
  }
}
