@import '../../app.global.scss';

.bill-item {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'item-name item-name item-name'
    'item-qty item-price item-total';

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'item-name item-name item-qty item-price item-total item-delete';
  }

  &__button {
    margin-bottom: 90px;
    button {
      width: 100%;
    }
  }

  .item-name {
    grid-area: item-name;
  }

  .item-qty {
    grid-area: item-qty;
  }

  .item-price {
    grid-area: item-price;
  }

  .item-total {
    grid-area: item-total;
  }

  .item-delete {
    grid-area: item-delete
  }
}

.bill-total {
  display: flex;
  color: $light-grey;

  h5 {
    margin-bottom: 27px;
  }

  span {
    font-weight: bold;
  }
  
  .item-total {
    flex: 3;
  }

  .btn {
    justify-self: end;
    background: none;
    width: 30px;
    height: 30px;
    align-self: center;
    align-items: center;
    margin-bottom: 11px;
    color: $light-grey;
    flex: 1;
  }

  .btn-icon {
    padding: 8px;
  }

  .btn > div {
    margin-right: 0;
    align-self: center;
    padding: 0;
    background: none;
  }

  .btn > div > img {
    height: 15px;
    width: 15px;
  }
}
