.bill-item {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'item-name item-name item-name'
    'item-qty item-price item-total';

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'item-name item-name item-qty item-price item-total';
  }

  .btn > div {
    background: none;
  }

  &__button {
    margin-bottom: 90px;
    button {
      width: 100%;
    }
  }

  .item-name {
    grid-area: item-name;
  }

  .item-qty {
    grid-area: item-qty;
  }

  .item-price {
    grid-area: item-price;
  }

  .item-total {
    grid-area: item-total;
  }
}
