@import "../../app.global.scss";

.btn {
  padding: 16px 24px;
  border-radius: 35px;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: $default-btn-bg;
  color: $default-btn-txt;
  transition: all 0.3s ease;

  &-default {
    background-color: $default-btn-bg;
    color: $default-btn-txt;

    &:hover {
      opacity: 0.8;
      background-color: $default-btn-hover;
    }
  }

  &-danger {
    background-color: $danger-btn-bg;
    color: $danger-btn-txt;

    &:hover {
      background-color: $danger-btn-hover;
    }
  }

  &-primary {
    color: $primary-btn-txt;
    background-color: $primary-btn-bg;

    &:hover {
      background-color: $primary-btn-hover;
    }
  }

  &-light {
    background-color: $light-btn-bg;
    color: $light-btn-txt;

    &:hover {
      background-color: $light-btn-hover;
    }
  }

  &-dark {
    background-color: $dark-btn-bg;
    color: $dark-btn-txt;

    &:hover {
      background-color: $dark-btn-hover;
    }
  }

  &-edit-light {
    background-color: $light-btn-bg;
    color: $light-btn-txt;

    &:hover {
      background-color: $default-btn-hover;
    }
  }

  &-edit-dark {
    background-color: $dark-edit-btn-bg;
    color: $dark-edit-btn-txt;

    &:hover {
      background-color: $dark-btn-hover;
    }
  }

  &-icon {
    padding: 8px 16px 8px 8px;
  }
}

.btn > div {
  background-color: $light-accent;
  margin-right: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.btn > div > img {
  height: 10px;
  width: 10px;
}
