.invoice-view-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 22px 24px;
  display: flex;
  justify-content: center;
  gap: 7px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media (min-width: 768px) {
    position: relative;
    justify-content: flex-end;
    padding: 0;
  }
}
