.themeToggle {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  border-right: 1px solid var(--divider);
}

@media (min-width: 1280px) {
  .themeToggle {
    flex-direction: column;
    justify-content: flex-end;
    border-right: none;
    border-bottom: 1px solid var(--divider);
    width: 100%;
    padding-bottom: 12px;
    padding-right: 0;
  }
}

.themeToggle__btn {
  align-self: center;
  justify-content: center;
  padding: 1em;
}
