.bill-to {
  margin-bottom: 66px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'client-name client-name'
    'client-email client-email'
    'client-street client-street'
    'client-city client-post-code'
    'client-country client-country'
    'invoice-date invoice-date'
    'payment-terms payment-terms'
    'project-description project-description';

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'client-name client-name client-name'
      'client-email client-email client-email'
      'client-street client-street client-street'
      'client-city client-post-code client-country'
      'invoice-date invoice-date payment-terms'
      'project-description project-description project-description';
  }

  .client-name {
    grid-area: client-name;
  }

  .client-email {
    grid-area: client-email;
  }

  .client-street {
    grid-area: client-street;
  }

  .client-city {
    grid-area: client-city;
  }

  .client-post-code {
    grid-area: client-post-code;
  }

  .client-country {
    grid-area: client-country;
  }

  .invoice-date {
    grid-area: invoice-date;
  }

  .payment-terms {
    grid-area: payment-terms;
  }

  .project-description {
    grid-area: project-description;
  }
}
