.invoices-filter {
  position: relative;
  display: flex;

  @media (min-width: 768px) {
    margin-right: 27px;
  }

  &__btn {
    display: flex;
    padding: 1rem;
    font-weight: bold;
  }

  &__arrow {
    margin-left: 12px;
  }
}
