@import '../../app.global.scss';

.badge {
  display: inline-block;
  padding: 13px 15px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: 6px;
  width: 70px;

  &--paid {
    background-color: $paid-color-bg;
    color: $paid-color;

    &.light {
      background-color: $paid-color-bg;
      color: $paid-color;
    }

    &.dark {
      background-color: $paid-color-bg;
      color: $paid-color;
    }
  }

  &--pending {
    background-color: $pending-color-bg;
    color: $pending-color;

    &.light {
      background-color: $pending-color-bg;
      color: $pending-color;
    }

    &.dark {
      background-color: $pending-color-bg;
      color: $pending-color;
    }
  }

  &--draft {
    background-color: $draft-color-bg;
    color: $draft-color;

    &.light {
      background-color: $draft-color-bg;
      color: $draft-color;
    }

    &.dark {
      color: #dfe3fa;
      background-color: rgba(223, 227, 250, 0.03);
    }
  }

  &__dot {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 8px;

    &.paid {
      background-color: $paid-color;
    }

    &.pending {
      background-color: $pending-color;
    }

    &.draft {
      background-color: $draft-color;

      &.dark {
        background-color: #dfe3fa;
      }
    }
  }
}
