.themeToggle {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  border-right: 1px solid #494e6e;

  &__btn {
    align-self: center;
    justify-content: center;
    padding: 1em;
  }

  @media (min-width: 1400px) {
    flex-direction: column;
    justify-content: flex-end;
    border-right: none;
    border-bottom: 1px solid #494e6e;
    width: 100px;
    padding-bottom: 12px;
    padding-right: 0;
  }
}
