@import '../../app.global.scss';

.invoice-form {
  position: relative;

  h1 {
    margin-top: 24px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 24px;
  }

  h2 {
    color: $grey-heading;
  }

  h3,
  h4 {
    color: $dark-purple;
  }
}

.bill-from {
  margin-bottom: 40px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'street street'
    'city post-code'
    'country country';

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'street street street'
      'city post-code country';
  }

  .street {
    grid-area: street;
  }

  .city {
    grid-area: city;
  }

  .post-code {
    grid-area: post-code;
  }

  .country {
    grid-area: country;
  }
}

.bill-to {
  margin-bottom: 66px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'client-name client-name'
    'client-email client-email'
    'client-street client-street'
    'client-city client-post-code'
    'client-country client-country'
    'invoice-date invoice-date'
    'payment-terms payment-terms'
    'project-description project-description';

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'client-name client-name client-name'
      'client-email client-email client-email'
      'client-street client-street client-street'
      'client-city client-post-code client-country'
      'invoice-date invoice-date payment-terms'
      'project-description project-description project-description';
  }

  .client-name {
    grid-area: client-name;
  }

  .client-email {
    grid-area: client-email;
  }

  .client-street {
    grid-area: client-street;
  }

  .client-city {
    grid-area: client-city;
  }

  .client-post-code {
    grid-area: client-post-code;
  }

  .client-country {
    grid-area: client-country;
  }

  .invoice-date {
    grid-area: invoice-date;
  }

  .payment-terms {
    grid-area: payment-terms;
  }

  .project-description {
    grid-area: project-description;
  }
}

.bill-item {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'item-name item-name item-name'
    'item-qty item-price item-total';

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'item-name item-name item-qty item-price item-total';
  }

  .btn > div {
    background: none;
  }

  &__button {
    margin-bottom: 90px;
    button {
      width: 100%;
    }
  }

  .item-name {
    grid-area: item-name;
  }

  .item-qty {
    grid-area: item-qty;
  }

  .item-price {
    grid-area: item-price;
  }

  .item-total {
    grid-area: item-total;
  }
}

.bill-total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $light-grey;

  h5 {
    margin-bottom: 27px;
  }

  span {
    font-weight: bold;
  }

  .btn {
    justify-self: end;
    background: none;
    width: 30px;
    height: 30px;
    align-self: center;
    align-items: center;
    margin-bottom: 11px;
    color: $light-grey;
  }

  .btn-icon {
    padding: 8px;
  }

  .btn > div {
    margin-right: 0;
    align-self: center;
    padding: 0;
  }

  .btn > div > img {
    height: 15px;
    width: 15px;
  }
}
