.bill-from {
  margin-bottom: 40px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'street street'
    'city post-code'
    'country country';

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'street street street'
      'city post-code country';
  }

  .sender-street {
    grid-area: street;
  }

  .sender-city {
    grid-area: city;
  }

  .sender-post-code {
    grid-area: post-code;
  }

  .sender-country {
    grid-area: country;
  }
}
