/********************************
  BACKGROUND COLORS
*********************************/
$dark-bg: #141625;
$dark-accent: #1e2139;
$light-bg: #f8f8fb;
$light-accent: #ffffff;
$light-accent-dark: #373b53;
/********************************
  MAIN COLORS
*********************************/
$dark-purple: #7c5dfa;
$light-purple: #9277ff;
$error: #ec5757;
$error-hover: #ff9797;
/********************************
  TEXT COLORS
*********************************/
$dark-text: #0c0e16;
$light-text: #ffffff;
$dark-text-accent: #dfe3fa;
$light-text-accent: #858bb2;
/********************************
  BUTTON COLORS
*********************************/
$default-btn-bg: #f9fafe;
$default-btn-txt: #7e88c3;
$default-btn-hover: #dfe3fa;
$primary-btn-bg: #7c5dfa;
$primary-btn-txt: #ffffff;
$light-btn-bg: #373b53;
$light-btn-txt: #888eb0;
$light-btn-hover: #0c0e16;
$dark-btn-bg: #373b53;
$dark-btn-txt: #dfe3fa;
$dark-btn-hover: #1e2139;
$dark-edit-btn-bg: #252945;
$dark-edit-btn-txt: #dfe3fa;
$danger-btn-bg: #ec5757;
$danger-btn-txt: #ffffff;
/********************************
  STATE COLORS
*********************************/
$paid-color: #33d69f;
$paid-color-accent: rgba(51, 214, 159, 0.6);
$pending-color: #ff8f00;
$pending-color-accent: rgba(255, 143, 0, 0.6);
$draft-color-light: rgba(223, 227, 250, 0.6);
$draft-color-dark: rgba(55, 59, 83, 0.6);

main {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
}
