/********************************
  BACKGROUND COLORS
*********************************/
$dark-bg: #141625;
$dark-accent: #1e2139;
$light-bg: #f8f8fb;
$light-accent: #ffffff;
$light-accent-dark: #373b53;
/********************************
  MAIN COLORS
*********************************/
$dark-purple: #7c5dfa;
$light-purple: #9277ff;
$default-dark-button: #f9fafe;
$default-light-button: #252945;
$error: #ec5757;
$error-hover: #ff9797;
/********************************
  TEXT COLORS
*********************************/
$dark-text: #0c0e16;
$light-text: #ffffff;
$dark-text-accent: #dfe3fa;
$light-text-accent: #858bb2;
/********************************
  STATE COLORS
*********************************/
$paid-color: #33d69f;
$pending-color: #ff8f00;
$draft-color: #dfe3fa;
